<div class = "container"

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profile.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= textilize @profile.body %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @profile.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @profile.updated_at %>
</p>

<p>
  <strong>Url:</strong>
  <%= @profile.url %>
</p>

<p>
  <strong>Location:</strong>
  <%= @profile.location %>
</p>


<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @profile.image_url %>
</p>

<p>
  <strong>Suspended at:</strong>
  <%= @profile.suspended_at %>
</p>

<p>
  <strong>Suspension status:</strong>
  <%= @profile.suspension_status %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

</div>
