<div class = "container">

<p id="notice"><%= notice %></p>

<div>
<h1>
  <%= @profile.title %>
</h1>
</div>

<div>
<p>
   <%= textilize @profile.body %>
</p>
</div>
<div>
<% unless @profile.url == nil || "" %>
    <p>Read more about this story at: <a href="<%= @profile.url %>"><%= profile.url %></p>
  <% end %>
</div>

<div>
 <p>
  <strong>Location:</strong>
  <%= @profile.location %>
 </p>
</div>

 <p>
   <strong>User:</strong>
    <%= @profile.user_id %>
 </p>


<div>
<% unless @profile.image_url == nil || "" %>
    "<%= profile.image_url %></p>
  <% end %>
</div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

</div>
